# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Others
src/__init__.py

